#contenedorEscenarios {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#texto {
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
}

#tarjetaEscenarios {
    border-style: ridge;
    border-color: rgb(22, 63, 34);
    border-width: 5%;
    background-color: rgb(43, 61, 49);
    padding: 1%;
}

#imagen {
    height: 250px;
}

#nombre {
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-align: center;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
}

#botones {
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 25px;
}

#botones button {
    width: 75px;
    height: 75px;
    font-size: xx-large;
    color: white;
    background-color: rgb(33, 92, 51);
    border-radius: 50%;
}

#botonVolver {
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    background-color: rgb(33, 85, 92);
    border-style: ridge;
    border-radius: 50%;
    padding: 1%;
}